.button {
  display: flex;
  color: #ffffff;
  background-color: #81b3d2;
  justify-content: center;
  align-items: center;
  padding: 14px 32px;
  font-weight: bold;
  font-size: 21px;
  font-family: inherit;
  text-transform: inherit;
  max-width: 458px;
}

.button:active {
  color: #ffffff70;
  background-color: #669ec0;
  transition: all 0.2s ease-in-out;
}

@media (min-width: 1200px) {
  .button:hover {
    background-color: #669ec0;
    transition: all 0.2s ease-in-out;
  }
}
