.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright-link-text {
  font-size: 14px;
  margin: 0 10px 0 0;
}

.copyright-link {
  height: 35px;
}

.logo-border {
  fill: transparent;
}

.copyright-link:active .copyright-link-icon {
  fill: #00000070;
  transition: all 0.2s ease-in-out;
}

@media (min-width: 1200px) {
  .logo-border {
    fill: #81b3d3;
  }

  .copyright-link:hover .copyright-link-icon {
    fill: #81b3d2;
    transition: all 0.2s ease-in-out;
  }
}
