.footer {
  display: flex;
  flex-direction: column;
  padding: 36px 18px 26px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 36px 18px 36px;
  }
}
