.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #fff;
}

.main-info-main {
  padding: 32px 0 0;
}

.main-info-form {
  padding: 32px 0 0;
}

.main-info-title {
  font-size: 18px;
  padding: 0 18px;
  margin: 0 0 42px;
  max-width: 520px;
}

.main-info-text {
  font-size: 14px;
  padding: 0 18px;
  max-width: 520px;
  margin: 0;
}

.main-info-bottom-border {
  display: block;
  background-color: #81b3d2;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

@media (min-width: 768px) {
  .main-info-main {
    padding: 44px 0 0;
  }

  .main-info-title {
    font-size: 21px;
    line-height: 26px;
  }

  .main-info-form {
    padding: 64px 0 0;
  }

  .main-info-text {
    margin-bottom: 52px;
  }

  .main-info-bottom-border {
    display: none;
  }
}

@media (min-width: 1200px) {
  .main-info-main {
    padding: 55px 0 0;
  }

  .main-info-form {
    padding: 114px 0 0;
  }
}
