.map {
  position: relative;
  height: 350px;
  width: 100%;
  background-color: #f4f3ef;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.map-marker {
  position: absolute;
  top: 161px;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid #ffffff;
  background-color: #81b3d3;
  border-radius: 50%;
  height: 27px;
  width: 27px;
}
