.map {
  position: relative;
  min-height: 350px;
  background-color: #f4f3ef;
}

.map-image {
  display: block;
  width: 100%;
}

.map-marker {
  position: absolute;
  top: 161px;
  left: 146px;
  border: 5px solid #ffffff;
  background-color: #81b3d3;
  border-radius: 50%;
  height: 27px;
  width: 27px;
}

@media (min-width: 768px) {
  .map-marker {
    left: 370px;
  }
}

@media (min-width: 1200px) {
  .map-marker {
    left: 586px;
  }
}
