.nav-menu {
  position: relative;
  min-height: 56px;

  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
}

.menu-list.shown {
  display: flex;
  flex-direction: column;
  transform: translateY(0%);
}

.menu-list {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(-100%);

  background-color: #81b3d2;
  z-index: 10;
}

.menu-item {
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2),
    inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  margin-bottom: 1px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-link {
  color: #fff;
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.menu-link.current {
  color: #766357 !important;
  opacity: 1 !important;
}

.menu-link:active {
  color: #ffffff70;
  opacity: 0.3;
}

.menu-button {
  position: absolute;
  top: 17px;
  right: 20px;

  width: 22px;
  height: 22px;
  font-size: 0;
  overflow: hidden;
  background-color: transparent;
  z-index: 10;
  transition: all 0.2s ease-in-out;
}

.menu-button:active .menu-button-line {
  background-color: #81b3d270;
}

.menu-button-line {
  position: absolute;
  display: block;
  width: 100%;
  height: 20%;
  left: 0;
  background-color: #81b3d2;
}

.menu-button-line.first {
  top: 0;
}

.menu-button-line.second {
  top: 50%;
  transform: translateY(-50%);
}

.menu-button-line.third {
  bottom: 0;
}

.shown + .menu-button > .menu-button-line.first {
  top: auto;
  transform: rotate(45deg);
  background-color: #fff;
}

.shown + .menu-button > .menu-button-line.second {
  top: auto;
  transform: rotate(-45deg);
  background-color: #fff;
}

.shown + .menu-button > .menu-button-line.third {
  display: none;
}

.shown + .menu-button:active > .menu-button-line {
  background-color: #ffffff70;
}

.menu-link-text {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100vw - 36px);
}

@media (min-width: 768px) {
  .nav-menu {
    font-size: 14px;
    line-height: 26px;
  }

  .menu-button {
    display: none;
  }

  .menu-list,
  .menu-list.shown {
    display: flex;
    flex-direction: row;

    position: static;
    transform: translateX(0);
    background-color: transparent;
  }

  .menu-link-text {
    max-width: calc(20vw - 36px);
  }

  .menu-item {
    width: 20%;
    box-shadow: none;
    margin: 0;
  }

  .menu-item:nth-child(2) {
    margin-right: auto;
  }

  .menu-link {
    display: inline-block;
    height: auto;
    flex-grow: 0;
    color: #000;
  }

  .menu-link.active {
    color: #766357;
  }
}

@media (min-width: 1200px) {
  .menu-link:hover:not(:active) {
    color: #81b3d2;
  }
  .menu-link-text {
    max-width: 200px;
  }
}
