.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 33px 18px 49px;
  max-width: 458px;
}

.offer-title {
  font-size: 21px;
  display: block;
  margin: 0 0 30px;
}

.offer-description {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  margin: 0 0 27px;
}

.offer-link {
  width: 100%;
}
