.radiobutton-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.radiobutton {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border: 15px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 50%;
  mix-blend-mode: normal;
  margin-right: 24px;
  transition: all 0.2s ease-in-out;
}

.radiobutton-input:checked + .radiobutton {
  background-color: #333333;
  transition: all 0.2s ease-in-out;
}

.radiobutton-input:focus + .radiobutton {
  outline: -webkit-focus-ring-color auto 1px;
  transition: all 0.2s ease-in-out;
}

.radiobutton-input:focus:checked + .radiobutton {
  background-color: #333333;
  outline: -webkit-focus-ring-color auto 1px;
  transition: all 0.2s ease-in-out;
}

.radiobutton-input:active + .radiobutton {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
  transition: all 0.2s ease-in-out;
}

.radiobutton-input:active:checked + .radiobutton {
  background-color: #33333370;
  border-color: #d5d5d5;
  transition: all 0.2s ease-in-out;
}

@media (min-width: 1200px) {
  .radiobutton-input:hover + .radiobutton {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    transition: all 0.2s ease-in-out;
  }
  .radiobutton-input:checked:hover + .radiobutton {
    background-color: #333333;
    border-color: #e5e5e5;
    transition: all 0.2s ease-in-out;
  }
}
