.reasons-list {
  background-color: #eeeeee;
  width: 100%;
}

.reason-image-wrapper {
  min-height: 256px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center top;
}

.reason-image-wrapper.city {
  background-image: url("/img/tablet/city.jpg");
}

.reason-image-wrapper.bridge {
  background-image: url("/img/tablet/bridge.jpg");
}

.reason-full .reason {
  padding: 36px 18px;
  overflow: hidden;
}

.reason-short .reason {
  padding: 26px 24px;
}

.reason-title {
  font-size: 18px;
  margin: 0;
  margin: 0 0 14px;
}

.reason-text {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.reason-text:not(:last-child) {
  margin: 0 0 14px;
}

.reason-short .reason-text {
  color: #333333;
}

.reason-short {
  position: relative;
}

.reason-full {
  position: relative;
  color: #ffffff;
  background-color: #81b3d2;
}

.reason-short:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 50%;
  height: 1px;
  width: calc(100% - 40px);
  transform: translateX(-50%);
  background-color: #d6d6d6;
  mix-blend-mode: normal;
  z-index: 1;
}

.reason {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .reasons-list {
    display: flex;
    flex-wrap: wrap;
  }

  .reason-full {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .reason-full .reason {
    width: 33%;
  }

  .reason-full:nth-child(2) {
    flex-flow: row-reverse;
  }

  .reason-short {
    flex-grow: 1;
    max-width: calc(100% / 3);
  }

  .reason-image-wrapper {
    width: 67%;
  }

  .reason-image-wrapper.city {
    background-image: url("/img/desktop/city.jpg");
  }

  .reason-image-wrapper.bridge {
    background-image: url("/img/desktop/bridge.jpg");
  }

  .reason-short:not(:last-child)::after {
    content: none;
  }
}
