.reasons-list {
  background-color: #eeeeee;
}

.reason-image-wrapper {
  display: flex;
  min-height: 260px;
  background-color: #81b3d2;
}

.reason-full .reason {
  padding: 36px 18px;
}

.reason-short .reason {
  padding: 26px 24px;
}

.reason-title {
  font-size: 18px;
  margin: 0;
  margin: 0 0 14px;
}

.reason-text {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.reason-text:not(:last-child) {
  margin: 0 0 14px;
}

.reason-short .reason-text {
  color: #333333;
}

.reason-short {
  position: relative;
}

.reason-full {
  position: relative;
  color: #ffffff;
  background-color: #81b3d2;
}

.reason-short:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 50%;
  height: 1px;
  width: calc(100% - 40px);
  transform: translateX(-50%);
  background-color: #d6d6d6;
  mix-blend-mode: normal;
  z-index: 1;
}
