.socials-list {
  display: flex;
  /* gap: 6px; */
  justify-content: center;
  align-items: center;
  padding: 0 18px;
  margin: 0 0 40px;
}

.socials-item {
  background-color: #81b3d2;
  width: 48px;
  height: 48px;
}

.socials-item:not(:last-child) {
  margin-right: 6px;
}

.socials-link {
  display: flex;
  height: 100%;

  justify-content: center;
  align-items: center;
}

.social-link-icon {
  fill: #ffffff;
}

.socials-link:active .social-link-icon {
  fill: #ffffff70;
  background-color: #5496bd;
  transition: all 0.2s ease-in-out;
}
.socials-item:active {
    background-color: #5496bd;
    transition: all 0.2s ease-in-out;
  }

@media (min-width: 768px) {
  .socials-list {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .socials-link:hover .social-link-icon {
    background-color: #5496bd;
    transition: all 0.2s ease-in-out;
  }

  .socials-item:hover {
    background-color: #5496bd;
    transition: all 0.2s ease-in-out;
  }
}
