.welcome-banner {
  position: relative;
  background-color: #375663;
  background-image: url("/img/desktop/banner.jpg");
  background-repeat: no-repeat;
  padding: 0 18px;
  overflow: hidden;
}

.welcome-banner.main {
  height: 389px;
  background-position: center top;
}

.welcome-banner.form {
  height: 157px;
  background-position: center bottom;
}

.welcome-banner-text-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.welcome-banner-text-icon-main {
  height: 66.9%;
  width: 87.5%;
  top: 18%;
}

.welcome-banner-text-icon-form {
  height: 24.9%;
  width: 71.6%;
  top: 33.1%;
}

.welcome-banner-cutter {
  fill: #ffffff;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .welcome-banner.main {
    height: 518px;
    background-position: center top;
  }

  .welcome-banner.form {
    height: 300px;
    background-position: center bottom;
  }
}
