.sights-list-item:not(:last-child) {
  margin: 0 0 24px;
}

@media (min-width: 768px) {
  .sights > .form-legend {
    margin-bottom: 48px;
  }

  .sights-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 100px;
  }

  .sights-list-item {
    width: 50%;
    margin: 0 0 42px;
  }

  .sights-list-item:not(:last-child) {
    margin: 0 0 42px;
  }
}

@media (min-width: 1200px) {
  .sights-list {
    padding: 0;
  }

  .sights-list-item {
    width: 25%;
  }
}
