.body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}
